.button {
    margin-top: 0px;
    background-color: none;
    border-color: #333333;
    border-radius: 6px;
    padding: 10px 20px;
    border: .5px solid #333333;
    font-family: "mosterrat";
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}

button::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0%;
    z-index: -1;
    transition: 0.8s;
    width: 100%;
    bottom: 0;
    background: #222222;
    border-radius: 50% 50% 0 0;
}

button:hover {
    color: #eeeeee;
    background: #222222;
}

button:hover::before {
    height: 180%;
}

h2 {
    color: black;
    font-family: monsterrat;
    font-size: large;
}

nav.main {
    background: #222222;
    height: 80px;
    width: 100%;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

iframe {
    width: 100%;
}

select {
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: none;
    border-color: #333333;
    border-radius: 6px;
    padding: 10px 20px;
    border: .5px solid #333333;
    font-family: "mosterrat";
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px;
}

select:hover {
    color: #eeeeee;
    background: #222222;
    border: #bbbbbb;
}

option:nth-child()child:hover {
    color: #bbbb;
    background: #eeeeee;
}

label.logo {
    line-height: 80px;
    color: #eeeeee;
    font-size: 30px;
    font-family: monsterrat;
    cursor: pointer;
}

a {
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: monsterrat;
    nav-right: 0;
    box-sizing: border-box;
}

nav ul li {
    margin: 0px 20px;
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    color: #eeeeee;
    text-decoration: none;
    transition: 0s;
}

nav ul li a:hover {
    color: #bbbb;
    transition: 0.4s;
}

.dd-content {
    display: none;
}

.dd-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
}

.drop-down:hover .dd-content {
    display: block;
}

footer {
    background-color: #222222;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

nav.secondnav {
    background-color: #bbbbbb;
    height: 40px;
    text-align: center;
}

label.log {
    color: #222222;
    font-size: 35px;
    font-family: monsterrat;
    padding: 0;
}

footer {
    background-color: #222222;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center
}