<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis2(2014-2021)</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/graphanalysis.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/K-means.css')}}">

</head>
<style>

</style>
<script type="text/javascript">
    var states_arr = new Array("Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Orissa", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh", "D & N Haveli and Daman & Diu", "Delhi", "Lakshadweep", "Pondicherry");

    function populateStates(stateElementId) {
        var stateElement = document.getElementById(stateElementId);
        stateElement.options[0] = new Option("Select State", -1);
        for (var i = 0; i < states_arr.length; i++) {
            stateElement.options[stateElement.length] = new Option(states_arr[i]);
        }
    }

    function changeChoropleth(yearElementId, CrimeElementId) {
        const year = document.getElementById(yearElementId);
        const yearval = year.value;
        const crime = document.getElementById(CrimeElementId);
        const crimeval = crime.value;


        if (yearval == "2014" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Corruption.html';
        if (yearval == "2014" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Crimes_Against_Children.html';
        if (yearval == "2014" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2014" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Crimes_Against_Women.html';
        if (yearval == "2014" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Cyber_Crime.html';
        if (yearval == "2014" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Kidnapping.html';
        if (yearval == "2014" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Murders.html';
        if (yearval == "2014" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Total_Crimes.html';

        //---...for 2015---->

        if (yearval == "2015" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Corruption.html';
        if (yearval == "2015" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Crimes_Against_Children.html';
        if (yearval == "2015" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2015" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Crimes_Against_Women.html';
        if (yearval == "2015" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Cyber_Crime.html';
        if (yearval == "2015" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Kidnapping.html';
        if (yearval == "2015" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Murders.html';
        if (yearval == "2015" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2015/2015_Total_Crimes.html';
        if (yearval == "2016" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Corruption.html';
        if (yearval == "2016" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Crimes_Against_Children.html';
        if (yearval == "2016" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2016" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Crimes_Against_Women.html';
        if (yearval == "2016" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Cyber_Crime.html';
        if (yearval == "2016" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Kidnapping.html';
        if (yearval == "2016" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Murders.html';
        if (yearval == "2016" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2016/2016_Total_Crimes.html';
        if (yearval == "2017" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Corruption.html';
        if (yearval == "2017" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Crimes_Against_Children.html';
        if (yearval == "2017" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2017" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Crimes_Against_Women.html';
        if (yearval == "2017" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Cyber_Crime.html';
        if (yearval == "2017" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Kidnapping.html';
        if (yearval == "2017" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Murders.html';
        if (yearval == "2017" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2017/2017_Total_Crimes.html';
        if (yearval == "2018" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Corruption.html';
        if (yearval == "2018" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Crimes_Against_Children.html';
        if (yearval == "2018" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2018" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Crimes_Against_Women.html';
        if (yearval == "2018" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Cyber_Crime.html';
        if (yearval == "2018" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2014/2014_Kidnapping.html';
        if (yearval == "2018" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Murders.html';
        if (yearval == "2018" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2018/2018_Total_Crimes.html';

        if (yearval == "2019" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Corruption.html';
        if (yearval == "2019" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Crimes_Against_Children.html';
        if (yearval == "2019" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2019" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Crimes_Against_Women.html';
        if (yearval == "2019" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Cyber_Crime.html';
        if (yearval == "2019" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Kidnapping.html';
        if (yearval == "2019" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Murders.html';
        if (yearval == "2019" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2019/2019_Total_Crimes.html';
        if (yearval == "2020" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Corruption.html';
        if (yearval == "2020" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Crimes_Against_Children.html';
        if (yearval == "2020" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2020" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Crimes_Against_Women.html';
        if (yearval == "2020" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Cyber_Crime.html';
        if (yearval == "2020" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Kidnapping.html';
        if (yearval == "2020" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Murders.html';
        if (yearval == "2020" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2020/2020_Total_Crimes.html';
        if (yearval == "2021" && crimeval == "Corruption")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Corruption.html';
        if (yearval == "2021" && crimeval == "Crimes Against Children")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Crimes_Against_Children.html';
        if (yearval == "2021" && crimeval == "Crimes Against Senior Citizen")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Crimes_Against_Senior_Citizen.html';
        if (yearval == "2021" && crimeval == "Crimes Against Women")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Crimes_Against_Women.html';
        if (yearval == "2021" && crimeval == "Cyber Crime")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Cyber_Crime.html';
        if (yearval == "2021" && crimeval == "Kidnapping")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Kidnapping.html';
        if (yearval == "2021" && crimeval == "Murders")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Murders.html';
        if (yearval == "2021" && crimeval == "Total Crimes")
            document.getElementById('iframeID3').src = 'plots/Choropleth/2021/2021_Total_Crimes.html';

    }

    function changeGeopandas(yearElementId, CrimeElementId) {
        const year = document.getElementById(yearElementId);
        const yearval = year.value;
        const crime = document.getElementById(CrimeElementId);
        let crimeval = crime.value;
        crimeval = crimeval.replaceAll(" ", "_");
        if (yearval == "disabled selected" && crimeval == "disabled_selected") {
            const string = "{{url_for('static',filename='plots/Geopandas/2021/2021Total_Crimes_State_wise.png')}}";
            document.getElementById('iframeID3').src = string;
            const timeout = setTimeout(function myfunction() {
                alert(" Please select a crime and year");
            }, 5000);
        } else if (yearval == "disabled selected") {
            const string = "{{url_for('static',filename='plots/Geopandas/2021/2021" + crimeval + "_State_wise.png')}}";
            document.getElementById('iframeID3').src = string;
            const timeout = setTimeout(functionalert("please select a year"), 30000);
        } else if (crimeval == "disabled selected") {
            const string = "{{url_for('static',filename='plots/Geopandas/2021/2021Total_Crimes_State_wise.png')}}";
            document.getElementById('iframeID3').src = string;
            const timeout = setTimeout(alert("please select a Crime"), 30000);
        } else {
            const string = "{{url_for('static',filename='plots/Geopandas/" + yearval + "/" + yearval + crimeval + "_State_wise.png')}}";
            document.getElementById('iframeID3').src = string;
        }

    }
</script>

<style>
    .state-input {
        display: inline-block;
    }
</style>

<body>
    <nav class="main">
        <a href="{{url_for('index')}}"><label style="margin-left:0;"class="logo">CRIME ANALYSIS</label></a>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>

        <nav class="secondnav">
            <label class="log"> CHOROPLETH</label>
        </nav>
    </nav>

    <div style="margin-left:40px; margin-top:130px;" class="state_input">
        <div style="margin-left:180px">
            <label style="margin-left:0px">Year:</label>
            <select id="year_input" name="state_input">
        <option value="disabled selected">Select Year</option>
        <Option> 2014</Option>
        <Option> 2015</Option>
        <Option> 2016</Option>
        <Option> 2017</Option>
        <Option> 2018</Option>
        <Option> 2019</Option>
        <Option> 2020</Option>
        <Option> 2021</Option>

        
    </select>
            <div class="state-input">
                <label> Crime:</label>
                <select id="crime_input" name="crime_input">
    <Option value="disabled selected">Select Crime</Option>
    <Option>Corruption</Option>
    <Option>Crimes Against Children</Option>
    <Option>Crimes Against Senior Citizen</Option>
    <Option>Crimes Against Women</Option>
    <Option>Cyber Crime</Option>
    <Option>Kidnapping</Option>
    <Option>Murders</Option>
    <Option>Total Crimes</Option>
</div>

    </select>
            </div>
            <button class="button" style="margin-left:30px;" onclick="changeChoropleth('year_input','crime_input')">Submit</button>


        </div>


        <div class="box" style="margin-left:120px; overflow: hidden;">
            <div class="tab-pane fade show active" id="v-pills-area-chart" role="tabpanel" aria-labelledby="v-pills-area-chart-tab">

                <iframe style="margin-top: 2px; align-self: center; margin-bottom: 5px; border-radius: 25px;" src="plots/Choropleth/2021/2021_Murders.html" frameborder="0" width="1200" height="600" id="iframeID3"></iframe>
            </div>
        </div>


        <footer>
            <p> Copyright &copy; 2023. All rights reserved.</p>

        </footer>
</body>

</html>