<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEAR REGRESSION</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/graphanalysis.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/K-means.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="{{url_for('static',filename='javascript/linearregression.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script>



    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>



    <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>


</head>





<body onload="tablefilling(1);">
    <nav class="main" style="width: 100%;">
        <a href="{{url_for('index')}}"><label style="margin-left:0;"class="logo">Crime Hotspots Prediction & Analysis</label></a>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
        <nav class="secondnav">
            <label class="log" href="#"> LINEAR REGRESSION</label>
        </nav>

    </nav>
    <div style=" padding:2px; margin-top: 120px; margin-left:40%;">
        <a style=" color:#222222; text-decoration: none; " href="#sectionId">Jump To Prediction</a>
    </div>

    <div style="margin-left:12%; width: 70%; margin-right:12%; margin-bottom:30px; ">
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:4px; ">
            Multiple linear regression is used to estimate the relationship between two or more independent variables and one dependent variable.</p>
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:4px; ">
            <h2>Crime Rate:</h2>
            <br>
            <p>Crime Rate is defined as the Crime reported per 100k population of States/UTs which have been arrived at using the Mid-Year Projected Population of respective States/UTs of 2021 based on 2011 census (Report of the Technical Group on Population
                Projections, July, 2020, National Commission on Population, Ministry of Health & Family Welfare).</p>
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:4px; ">
            <p>Crime Rate is a result of socio-economic factors.</p>
        </div>

        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:4px; ">
            <p>Here we are using Multiple Linear Regression for predicting the crime rate of India (Dependent Variable) as a factor of socio-economic parameters (independent variables ) such as :</p>
            <br>
            <br>
            <ul>
                <li><b>Unemployment Rate (%):</b> The unemployment rate is the percentage of the total labor force that is unemployed but actively seeking employment and willing to work.</li>
                <br>
                <li style="text-align: left;"><b>Population(in cr):</b> Population projections from World Bank.</li>
                <br>
                <li><b>Literacy rate :</b> The literacy rate refers to the percentage of the population of a certain age group who can read and write.</li>
                <br>
                <li><b>GDP(per capita) :</b> Gross domestic product (GDP) per capita is an economic metric that breaks down a country's economic output per person.</li>

            </ul>
        </div>


        <div style=" margin-top: 30px; margin-left: 20px; border-radius:10px; text-align:center; text-decoration: none; background-color:#bbbb; padding:4px;">
            <a href="{{url_for('datadisp')}}">CLICK HERE TO VIEW THE DATA SET</a>
        </div>

        <p style="margin-top: 30px; margin-left: 20px; border-radius:10px; text-align:center; text-decoration: none; background-color:#bbbb;  padding:4px;"><b>Correlation Matrix:</b></p>

        <img src="{{url_for('static',filename='images/ind_crime_factors_corr.png')}}" style=" margin-left: 30px;margin-top: 20px; border-radius:10px; height: 300px; width:95%;border: 1px solid black; margin-bottom: 30px;;">
        <div style="display: flex;
        justify-content: center;
        align-items: center;"><img src="{{url_for('static',filename='images/india_crime_socioeco_corr.png')}}" style=" margin-left: 30px;margin-top: 20px; border-radius:10px; height: 300px; width:50%;border: 1px solid black; margin-bottom: 30px;">
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:4px; ">
            <p><b>Accuracy = 91.17740523172617%</b>
            </p>
        </div>

    </div>
    <div style="clear:both;">
    </div>
    <!---This is for prediction-->
    <div class="predictions">
        <nav id="sectionId" class="prediction">
            <label class="log" href="#"> PREDICTION:</label>
        </nav>

        <form action="{{url_for('linearreg')}}" method="post">

                <div class="selects" style="display:inline-block; margin-top: 25px; margin-left:100px; display:flex; justify-content: center; align-items: center;" col-md-4>
                    <div class="for-select" style="margin-left:30px;">
                        <label for="state_input">State:</label>
                        <select id="state_input" name="state_input"></select>
                    </div>
                   
                    <script language="javascript">
                        populatestates("state_input");
                    </script>
                    <div class="for-select">
                        <label for="year-input">Year:</label>
                        <select name="year" id="year-input" style=" padding :10px 0px;">
                    <option disabled selected> Select Year </option>
                </select>
                    </div>
                    <script>
                        Addyears("year-input");
                    </script>
                </div>
    
    
                <button class="button" style="margin-left:50%; margin-top: 2%;" onclick="document.getElementById('prediction-input').style.display='block'">Submit</button>

        </form>
        <br>

        <div style="margin-left:40%; margin-top: 25px; margin-bottom: 60px; ">
            <label for="prediction-input">Prediction:</label>
            <p>{{ prediction_text }} </p>
        </div>
    </div>
    </section>

    </div>
    <footer>
        <p> Copyright &copy; 2023. All rights reserved.</p>

    </footer>

</body>

</html>