<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale">
    <title>TIME SERIES FORECASTING</title>
    <link rel="stylesheet" href="{{url_for( 'static',filename='stylesheets/style.css' )}} ">
    <link rel="stylesheet " href="{{url_for( 'static',filename='stylesheets/graphanalysis.css' )}} ">
    <link rel="stylesheet " href="{{url_for( 'static',filename='stylesheets/K-means.css' )}} ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js "></script>
    <script src="{{url_for( 'static',filename='javascript/linearregression.js' )}} "></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js " type="text/javascript "></script>
    <script src="http://www.skulpt.org/js/skulpt.min.js " type="text/javascript "></script>
    <script src="http://www.skulpt.org/js/skulpt-stdlib.js " type="text/javascript "></script>



    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


    <script src="https://kit.fontawesome.com/7bdcd846e8.js " crossorigin="anonymous "></script>



    <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js "></script>


</head>





<body onload="tablefilling(1); ">
    <nav class="main " style="width: 100%; ">
        <a href="{{url_for('index')}}"><label style="margin-left:0;"class="logo">CRIME ANALYSIS</label></a>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
        <nav class="secondnav">
            <label class="log" href="#"> TIME SERIES FORECASTING(CRIME RATE)</label>
        </nav>

    </nav>
    <div style=" padding:2px; margin-top: 120px; margin-left:40%;">

    </div>

    <div style="margin-left:12%; width: 70%; margin-right:12%; margin-bottom:30px; ">

        <div>
            <p style=" margin-top: 2%; height: 30px; text-align: center; padding: 5px; background-color: #bbbb; border-radius: 10px;"><b>FORE-CAST:</b></p>
            <div class="box" style="overflow:hidden; width: 900px; margin:auto; margin-top :30px;">
                <iframe class="iframe1" style=" overflow: hidden; height: 100%; width: 100%;" src="{{url_for('static',filename='images/forecast.html')}}"></iframe>
            </div>
            <p style="margin-top: 2%; height: 30px; text-align: center; padding: 5px; background-color: #bbbb; border-radius: 10px;"><b>FORE-CAST CMP:</b></p>
            <div class="box" style="overflow:hidden; height:400px; width: 900px; margin:auto; margin-top :30px;">
                <iframe class="iframe1" style=" overflow:hidden; height: 100%; width: 100%;" src="{{url_for('static',filename='images/forecast_cmp.html')}}"></iframe>
            </div>
        </div>
        <div style='margin-left:12%; width: 70%; margin-right:12%; margin-bottom:30px;margin-top:30px; background-color:#bbbb; font-family:monsterrat; border:1px solid black; border-radius:10px; padding:5px'>FUTURE CRIMES ESTIMATED USING <b>EXPONENTIAL SMOOTHING</b>.</div>


        <div style=" margin-top: 30px; margin-left: 20px; border-radius:10px; text-align:center; text-decoration: none; background-color:#bbbb; padding:6px;">
            <a href="{{url_for('datadisp')}}">CLICK HERE TO VIEW THE DATA SET</a>
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:6px;">
            Timeseries forecasting in simple words means to forecast or to predict the future value(eg-stock price) over a period of time.</p>
        </div>

        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:6px;">
            <p><b>There are some key concepts associated with time series forecasting :</b></p>
            <br>
            <br>
            <ul>
                <li style="text-align: left;"><b>Seasonality:</b>In simple terms, Seasonality means repetition over time. For example, while predicting electricity bills will be higher every year in the summer season.
                </li>
                <br>
                <li style="text-align: left;"><b>Trend :</b> It tells increasing or decreasing trends over time in the data.</li>
            </ul>
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:6px; ">
            Fb Prophet library was launched by Facebook now meta, and it was built for time series analysis. It can automatically manage parameters related to seasonality and data stationarity.</p>
        </div>

        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:6px; ; ">
            Here we are using fbprophet library to predict crime rate of India for the next 5 years : 2022, 2023, 2024, 2025 & 2026.
        </div>
        <div style="margin-top: 30px; margin-left: 20px; border-radius:10px; width:auto; text-align:center; background-color:#bbbb; padding:6px; ">
            Accuracy = 88.85251460155811%
            </p>
        </div>


    </div>
    <div style="clear:both;">
    </div>
    <!---This is for prediction-->

    </section>

    </div>
    <footer style="margin-top:13%">
        <p> Copyright &copy; 2023. All rights reserved.</p>

    </footer>

</body>

</html>